{
	"root": true,
	"env": {
		"browser": true,
		"es6": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended-type-checked",
		"plugin:react-hooks/recommended"
	],
	"parserOptions": {
		"project": "./tsconfig.app.json"
	},
	"ignorePatterns": ["dist", "node_modules"],
	"parser": "@typescript-eslint/parser",
	"plugins": ["react-refresh", "@typescript-eslint"],
	"rules": {
		"react-refresh/only-export-components": ["warn", { "allowConstantExport": true }],
		"brace-style": ["error", "1tbs", { "allowSingleLine": true }],
		"semi": ["error", "always"],
		"quotes": ["error", "double"],
		"indent": ["error", "tab"]
	},
	"overrides": [
		{
			"env": {
				"node": true
			},
			"extends": ["plugin:@typescript-eslint/disable-type-checked"],
			"files": ["./*.config.js", "./*.config.ts"]
		}
	]
}