.placementCard {
	border: 2px solid var(--mantine-color-default-border);
	text-align: center;
}

/* For cards showing tournament placements */

.place1 {
	background-color: var(--mantine-color-primary);
}

.place2 {
	background-color: var(--mantine-color-secondary);
}

.place3 {
	background-color: var(--mantine-color-accent);
}