.result {
	border: 2px solid var(--mantine-color-default-border);

	&:hover {
		background-color: var(--mantine-color-default-hover);
	}
}

a {
	color: var(--mantine-color-text);
	text-decoration: none;
}

a:active {
	color: var(--mantine-color-dimmed);
}