@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	overflow-y: scroll;
}

* {
	box-sizing: border-box;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding-top: 2rem;
	text-align: center;
}

a {
	color: var(--mantine-primary-color-3);
}

a:hover {
	color: var(--mantine-primary-color-5);
}